{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}
    {{ survey.name }} Statistiques
{% endblock %}
{% block content_title %}{{ survey.name }}{% endblock %}
{% block main %}

    <p>Graphique :</p>

    {{ render_chart(chart) }}

    <div>
        <h3>Questions :</h3>
        <ul>
            {% for question in survey.questions %}
                <li style="color: red">{{ question.title }} | {{ question.type }}</li>

                <ul>
                    {% for answer in question.answers %}
                        <li>{{ answer.content }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>

{% endblock %}